name: Build Mission 26
on: [push, workflow_dispatch]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2

      - name: Build with Buildozer
        uses: kivy/buildozer-action@master
        with:
          save_build_directory: true
