name: Build APK

on:
  push:
    branches: [ "main" ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Build APK using official Buildozer Docker
        run: |
          docker run --rm -i \
            -e BUILDOZER_ALLOW_ROOT=1 \
            -e CI=1 \
            -v ${{ github.workspace }}:/home/user/app \
            kivy/buildozer:latest \
            bash -c "cd /home/user/app && buildozer android debug --allow-root"

      - name: Upload APK
        uses: actions/upload-artifact@v4
        with:
          name: apk
          path: bin/*.apk
